dn: {{ ldap_olcsuffix }}
objectClass: top
objectClass: dcObject
objectclass: organization
o: {{ ldap_o }}
dc: {{ ldap_dc }}

dn: cn={{ ldap_admin_user }},{{ ldap_olcsuffix }}
objectClass: simpleSecurityObject
objectClass: organizationalRole
cn: {{ ldap_admin_user }}
description: LDAP administrator
userPassword: {{ super_passwd.stdout }}
