{% for item in ldap_organizationalunits %}
dn: ou={{ item }},{{ ldap_olcsuffix }}
objectClass: top
objectClass: organizationalUnit

{% endfor %}

{% for item in ldap_posixgroups %}
dn: cn={{ item.name }},ou={{ item.ou }},{{ ldap_olcsuffix }}
objectClass: posixGroup
objectClass: top
cn: {{ item.name }}
gidNumber: {{ item.gidNum }}

{% endfor %}

{% for item in ldap_users %}
dn: cn={{ item.UserName|lower }},ou={{ item.ou }},{{ ldap_olcsuffix }}
objectClass: inetOrgPerson
objectClass: posixAccount
objectClass: top
uid: {{ item.UserName|lower }}
sn: {{ item.LastName }}
givenName: {{ item.FirstName }}
uidNumber: {{ item.uidNum }}
gidNumber: {{ item.gidNum }}
userPassword: {{ item.password }}
loginShell: {{ item.loginShell }}
homeDirectory: {{ item.homeDirectory }}

{% endfor %}

{% for item in ldap_security_users %}
dn: cn={{ item.UserName|lower }},ou={{ item.ou }},{{ ldap_olcsuffix }}
objectclass: simpleSecurityObject
objectclass: organizationalRole
objectclass: top
userPassword: {{ item.password }}

{% endfor %}
